<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet", href="./css/styles.css" />
        <title>Welcome to express learning from handlebars</title>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>Something goes here!</p>

            <form>
                <input placeholder="Location">
                <button>Search</button>
            </form>

            <p id='message-1'></p>
            <p id='message-2'></p>
        </div>
        
         {{>footer}}

        <!-- Adding the app.js here so that the form above is load completely before the 
        script is  executed -->
        <script src="./js/app.js"></script>

    </body>
</html>